a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.menu li + li {
    padding-left: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.menu a {
    color: white;
    font-size: 18px;
    line-height: 36px;
    padding: 0px 16px;
}

.backgroundPicture {
    background-image: url("pictures/car.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    webkit-filter: brightness(10%);
}

.menu a:hover {
    color: #ffc222;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #323232;
}

.p-1
{
    padding: 1%;
}

.inline-block
{
    display: inline-block;
}

.color-white
{
    color: white;
}

.color-yellow
{
    color: #ffc222;
}

.color-gray
{
    color: #323232;
}

.w-25
{
    width: 25%;
    display: block;
}

.w-auto
{
    width: auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    margin: 0;
}