<div class="background-gray">
    <div class="px-5 timetable ">
        <br>
        <h1 class="text-center font-2em font-bold color-gray px-5">НАШИ ПРЕИМУЩЕСТВА</h1>
        <label class="text-center font-15em color-light-gray ">На данный момент существует огромное
            количество
            автошкол, однако, только у нас есть неоспоримые плюсы
            которые сделают для вас процесс обучения максимально комфортным.</label>
    </div>
    <br>
    <br>
    <div class="three-checks timetable">
        <div class="d-flex centre-icon">
            <i class="fa fa-check-circle color-red p-1 font-5em "></i>
            <div class="color-light-gray font-15em text-with-icon "><b> Современные автомобили</b></div>
        </div>
        <div class="d-flex centre-icon">
            <i class="fa fa-check-circle color-yellow p-1 font-5em"></i>
            <div class="color-light-gray font-15em text-with-icon"><b>Занятия по маршрутам ГАИ</b></div>
        </div>
        <div class="d-flex centre-icon">
            <i class="fa fa-check-circle color-green p-1 font-5em "></i>
            <div class="color-light-gray font-15em text-with-icon"><b> Опытные преподаватели</b></div>
        </div>
    </div>
</div>
<br>