<div class="px-5 background-yellow timetable main-page-info">
    <h2 class="color-yellow font-bold font-2em">АВТОШКОЛА "АЗБУКА ВОЖДЕНИЯ"</h2>
    <p class="color-gray font-11em">Это команда профессиональных педагогов с большим стажем и опытом
        работы. Это удобное время
        занятий и
        возможность оплаты за обучение в три этапа. Это удобное расположение классов по теории - к нам
        легко
        добраться из любой точки Минска. Это качественные практические занятия по маршрутам ГАИ. Мы
        найдем
        подход к каждому ученику!
        С нами вы можете не сомневаться, что, закончив автошколу, вы станете уверенным водителем.</p>
</div>