<br>
<h1>ОТЗЫВЫ</h1>
<div class="review-box">
    <form method="POST" action="">
        <p><b>Нравится наша школа? Оставьте Ваш отзыв!</b></p>
        <input type="text" class="form-control" name="name" placeholder="Ваше Имя">
        <input type="text" class="form-control" name="phone" placeholder="Телефон">
        <input type="text" class="form-control" name="email" placeholder="Email">
        <textarea class="form-control" name="review" placeholder="Текст отзыва" rows="4"></textarea>
        <br>
        <input type="submit" class="btn-yellow btn"  name="submit" value="Отправить">
    </form>
</div>