<section id="contactMe" class="box-shadow">
    <form>
        <h1 class="color-yellow font-bold font-2em">Записаться в автошколу</h1>
        <div class="form-group">
            <label><b>Имя</b></label>
            <input class="form-control" placeholder="Введите имя">
        </div>
        <div class="form-group">
            <label><b>Номер телефона</b></label>
            <input class="form-control" type="tel" name="tel" pattern="+375[0-9]{3}"
                   placeholder="Введите номер телефона">
        </div>
        <div class="form-group">
            <label><b>Форма занятий</b></label>
            <select class="form-control">
                <option>Утренняя</option>
                <option>Вечерняя</option>
                <option>Дневная</option>
                <option>Дистанционная</option>
            </select>
        </div>
        <button class="btn btn-yellow" type="submit">Отправить</button>
    </form>
</section>