<form class="schedule-item {Color} {Selected}"  method="POST" action="">
    <label class="display-block color-yellow font-bold font-2em">580 BYN</label>
    <label class="display-block color-gray font-bold font-2em">{Type_group}</label>
    <label class="display-block color-gray font-15em">{Time}</label>
    <label class="display-block color-gray font-15em">Начало 29.03.2022 г.</label>
    <label class="display-block color-gray font-1em"><i>дополнительно оплачивается топливо</i></label>
    <input hidden name="groupId" value="{GroupId}">
    <p><button type="submit" class="btn-yellow btn" rel="" name="submit">Записаться</button></p>
</form>