<div class="timetable">
    <div class="px-10">
        <h2 class="color-gray font-1_5em">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <div>
            <i class="fa fa-phone color-yellow p-1 font-15em"></i>
            <div class="color-gray font-bold font-15em inline-block">+375291111111</div>
        </div>
        <div>
            <i class="fa fa-mail-reply color-yellow p-1 font-15em"></i>
            <div class="color-gray font-bold font-15em inline-block">abv_azbuka@mail.com</div>
        </div>
        <div>
            <i class="fa fa-instagram color-yellow p-1 font-15em"></i>
            <div class="color-gray font-bold font-15em inline-block">abv_azbuka.com</div>
        </div>
        <div>
            <a href="/"> <img src="/pictures/RWM.png" alt="" class="RWM"></a>
        </div>
    </div>
</div>