

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Азбука вождения</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="short icon" href="/pictures/car.ico"/>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
<header class="black-part">
    <div class="container">
        <div class="nav">
            <a href="/"><img width="176" height="35" src="/pictures/logo.png" alt="zillow logo"></a>
            <nav class="menu">
                <ul>
                    <li><a href="http://abv-azbuka.com" rel="">Главная</a>
                    <li><a href="/contact.php" rel="">Записаться</a></li>
                    <li><a href="/reviews.php" rel="">Отзывы</a></li>
                    {User}
                </ul>
            </nav>

        </div>
    </div>
</header>
<main>
    <div class="main-content container">
        <br>
        {Content}
    </div>
    </div>
    <footer class="black-part">
        <div class="container">
            <b class="footer-text">© 2018 Азбука_Вождения.бел, ООО "ГИВ ГОЛД", УНП 692070323. Все права защищены. </b>
        </div>
    </footer>
</main>
</body>
</html>

